/*--------------------------------------------
Developer: Daphne
Color Palette:
#343a40
#fff

Fonts:
'Lato', sans-serif;
--------------------------------------------*/

body {
    background-color: #d8d9da;
    min-width: 320px;
}
section{
    width: 95%;
    background-color: white;
    padding: 1rem;
}

input {color: #197a8a;}

#newSong {
    cursor: pointer;
    color: #17a2b8;
    font-size: 2rem;
    padding: 0 .9rem .4rem;
    border: 1px solid #fff;
    border-radius: .25rem;
}

    #newSong:hover {
          color: rgb(255,255,255);
          background: #17a2b8;
          border: 1px solid #17a2b8;
    }

.smallInputs input[type="text"] {
    max-width: 27rem;
}

#errors{
    color: red;
    font-weight: bold;
    position: relative;
}

.errorEffectDiv {
    border: 1px solid red;
    padding: 1rem;
    margin: 0 0 1rem;
    border-radius: .25rem;
    background: rgba(255, 201, 201, 0.5);
}

.hidden {
    width: 0;
    height: 0;
    position: absolute;
    left: 9000rem;
}

label {
}

.warning {
    color: red;
    font-weight: bold;
    font-size: 90%;
}

.coverWarning {
    color: #17a2b8;
    margin-top: -1rem;
    font-weight: normal;
}

.registerSmall {
    padding-left: 1rem;
    }

.registerSmallE {
    padding-left: 1.5rem;
    }


.logoutOverlay {
    min-width: 320px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20% 30% 40%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
}
.logoutOverlay div {
    background-color: rgb(255,255,255);
    /*border: 2px solid rgba(255,255,255,1);*/
    border-radius: .5rem;
    padding: 5%;
}
.space {
        margin-bottom: 3.5rem;
    }

.btn-outline-info {
    color: #17a2b8;
}

.btn-outline-info:hover {
    color: #fff;
}



@media screen and (max-width: 700px) {
    .coverWarning {
       margin-top: -.5rem;
    }

    .registerSmall {
        padding-left: 0;
    }
    .logoutOverlay {
    padding: 50% 30% 10%;
    }
    .space {
        margin-bottom: 8rem;
    }
}
/*Global------------------------------------*/



/*Header------------------------------------*/


