/*--------------------------------------------
Developer: Daphne
Color Palette:
#343a40
#fff

Fonts:
'Lato', sans-serif;
--------------------------------------------*/

body {
    background-color: #d8d9da;
}
section{
    width: 95%;
    background-color: white;
    padding: 1rem;
}

input {color: #197a8a;1}

#newSong {
    cursor: pointer;
    color: #17a2b8;
    font-size: 2rem;
    padding: 0 .9rem .4rem;
    border: 1px solid #fff;
    border-radius: .25rem;
}

    #newSong:hover {
          color: rgb(255,255,255);
          background: #17a2b8;
          border: 1px solid #17a2b8;
    }

#songs input[type="text"] {
    max-width: 27rem;
}

#errors{
    color: red;
    font-weight: bold;
    position: relative;
}

.errorEffectDiv {
    border: 1px solid red;
    padding: 1rem;
    margin: 0 0 1rem;
    border-radius: .25rem;
    background: rgba(255, 201, 201, 0.5);
}

.hidden {
    width: 0;
    height: 0;
    position: absolute;
    left: 9000rem;
}

label {
}

.warning {
    color: red;
    font-weight: bold;
    font-size: 90%;
}

.coverWarning {
    color: #17a2b8;
    margin-top: -1rem;
    font-weight: normal;
}

@media screen and (max-width: 700px) {
    .coverWarning {
       margin-top: -.5rem;
    }
}
/*Global------------------------------------*/



/*Header------------------------------------*/



