/*--------------------------------------------
Developer: Daphne
Color Palette:
#343a40
#fff

Fonts:
'Lato', sans-serif;
--------------------------------------------*/



/*Global------------------------------------*/
.font, .title, #about, #members, #albums, #updates {
    font-family: 'Lato', sans-serif;
}

.font {
    font-size: 1.1em;
}


/*Header------------------------------------*/
nav {
    display: flex;
}

#page-top {
    background-image: url(../images/imaginedragons.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: 120px;
}
#top {
    margin-top: 120px;
}

.navbar-toggler {
    margin-top: -100px;
}

.title {
    font-size: 4em;
    text-shadow: 2px 2px #f8f9fa;
    top: 20px;
    font-weight: 700;
}


/*About, Member & Albums---------------------------*/
.about, .card {
    padding: 10px;

}

.aboutp {
    margin-bottom: -5px;
}

.reynolds, .sermon, .platzman, .mckee {
    font-size: 1.5em;
    margin: 10px;
    text-align: center;
    padding-bottom: 30px;
}

.about, input, form {
    font-size: 1.05em;
}
 ol {
    padding-top: 10px;
 }

 .reynolds a {
    font-size: .7em;
 }

/*Footer------------------------------------*/
.updates {
    padding: 10px;
}

label {
    margin-bottom: 0;
    margin-top: .5rem;
}

label, input, textarea {
    font-weight: 800;
}

.form-check-input {
    margin-left: .5rem;
}

.form-check-label {
    padding-left: 35px;
    margin-top: 0;

}

#send-btn {
    text-align: center;
}

.btn {
    color: #fff;
    background-color: #343a40;
    margin-top: 10px;
    box-shadow: 1px 1px 2px #343a40;
}

.btn:hover {
    box-shadow: 1px 2px 2px #343a40;
}

.page-footer {
    text-align: center;
    margin-top: 15px;
  clear: both;
  overflow: auto;
}

.page-footer p {
    padding-top: 15px;
}

.box {
    text-align: left;
}


@media screen and (max-width: 600px) {
    .col img {
        width: 300px;
    }
    .logo {
        width: 115px;
    }
    .navbar-toggler {
    margin-top: -80px;
}
}

@media screen and (max-width: 414px) {
    img {
        width: 200px;

    }
}
